/* FONTS */


@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas-neue/BebasNeue-Regular.eot');
  src: url('../fonts/bebas-neue/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas-neue/BebasNeue-Regular.woff2') format('woff2'),
      url('../fonts/bebas-neue/BebasNeue-Regular.woff') format('woff'),
      url('../fonts/bebas-neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas-neue/BebasNeue-Regular.eot');
  src: url('../fonts/bebas-neue/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas-neue/BebasNeue-Regular.woff2') format('woff2'),
      url('../fonts/bebas-neue/BebasNeue-Regular.woff') format('woff'),
      url('../fonts/bebas-neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/ProximaNova-Bold.eot');
  src: url('../fonts/proxima-nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/proxima-nova/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/proxima-nova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/ProximaNova-BoldIt.eot');
  src: url('../fonts/proxima-nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
      url('../fonts/proxima-nova/ProximaNova-BoldIt.woff') format('woff'),
      url('../fonts/proxima-nova/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/ProximaNova-Regular.eot');
  src: url('../fonts/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/ProximaNova-RegularIt.eot');
  src: url('../fonts/proxima-nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
      url('../fonts/proxima-nova/ProximaNova-RegularIt.woff') format('woff'),
      url('../fonts/proxima-nova/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}