
body {
  background: url(../img/bg.png);
  background-size: cover;
  font-family: 'Proxima Nova';
}


.section-footer {
  padding-top: 0px!important;
  padding-bottom: 25%!important;
  background-image: url('../img/contact_us_bg.png')!important;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30vh
}