/* FONTS */

a, a:hover {
  text-decoration: none!important;
  color: #05203D;
}

html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

:target::before {
  content: "";
  display: block;
  height: 144px; /* fixed header height*/
  margin: -144px 0 0; /* negative fixed header height */
}

strong {
  font-weight: bold;
}

/* BOOTSTRAP ADDITION CLASSES */
.force-pr-0, .pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.px-0 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

@media (min-width: 992px) {
  .px-lg-8 {
    padding-left: 96px !important;
    padding-right: 96px !important;
  }
  .pl-lg-8 {
    padding-left: 96px !important;
  }
  .pr-lg-8 {
    padding-right: 96px !important;
  }
  .pt-lg-8 {
    padding-top: 96px !important;
  }

  .px-lg-9 {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
  .pr-lg-9 {
    padding-right: 120px !important;
  }
  .pt-lg-9 {
    padding-top: 120px !important;
  }
  .pl-lg-9 {
    padding-left: 120px !important;
  }

  .px-lg-10 {
    padding-left: 144px !important;
    padding-right: 144px !important;
  }
  .pr-lg-10 {
    padding-right: 144px !important;
  }
  .pt-lg-10 {
    padding-top: 144px !important;
  }
  .pl-lg-10 {
    padding-left: 144px !important;
  }

  .px-lg-11 {
    padding-left: 168px !important;
    padding-right: 168px !important;
  }
  .pr-lg-11 {
    padding-right: 168px !important;
  }
  .pt-lg-11 {
    padding-top: 168px !important;
  }
  .pl-lg-11 {
    padding-left: 168px !important;
  }


  .pr-lg-12 {
    padding-right: 192px !important;
  }
  .pt-lg-12 {
    padding-top: 192px !important;
  }
  .pl-lg-12 {
    padding-left: 192px !important;
  }

}

@media (min-width: 1920px) {
  .px-xl-8 {
    padding-left: 96px !important;
    padding-right: 96px !important;
  }
  .pl-xl-8 {
    padding-left: 96px !important;
  }
  .pr-xl-8 {
    padding-right: 96px !important;
  }


  .pr-xl-8 {
    padding-right: 96px !important;
  }
  .pl-xl-8 {
    padding-left: 96px !important;
  }
  .pt-xl-8 {
    padding-top: 96px !important;
  }

  .px-xl-9 {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
  .pr-xl-9 {
    padding-right: 120px !important;
  }
  .pl-xl-9 {
    padding-left: 120px !important;
  }
  .pt-xl-9 {
    padding-top: 120px !important;
  }

  .pr-xl-10 {
    padding-right: 144px !important;
  }
  .pl-xl-10 {
    padding-left: 144px !important;
  }
  .pt-xl-10 {
    padding-top: 144px !important;
  }

  .pr-xl-11 {
    padding-right: 168px !important;
  }
  .pl-xl-11 {
    padding-left: 168px !important;
  }
  .pt-xl-11 {
    padding-top: 168px !important;
  }

  .px-xl-12 {
    padding-left: 192px !important;
    padding-right: 192px !important;
  }
  .pr-xl-12 {
    padding-right: 192px !important;
  }
  .pl-xl-12 {
    padding-left: 192px !important;
  }
  .pt-xl-12 {
    padding-top: 192px !important;
  }
}

.gutter-2.row {
  margin-right: -1px;
  margin-left: -1px;
}
.gutter-2 > [class^="col-"], .gutter-2 > [class^=" col-"] {
  padding-right: 1px;
  padding-left: 1px;
}

/* BUTTON */
button, .button {
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  color: #05203D;
  background-color: #8AEEEE;
  padding: 0em 0.7em;
  border: 0;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  button, .button {
    font-size: 36px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1440px) {
  button, .button {
    font-size: 43px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1920px) {
  button, .button {
    font-size: 55px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 2246px) {
  button, .button {
    font-size: 77px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

/* WHY US */
.section-why-choose-us .left-part div {
  background-color: white;
  /* padding: ;*/
}

.stats .left-part img {
  width: 100%;
}

.we-will-list .green {
  color: #8AEEEE;
  font-weight: bold;
}

.we-will-list .left {
  text-align: end;
}
/* SECTION-HEADER */ 

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1152px) {
  .nav-link {
    font-size: 16px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1440px) {
  .nav-link {
    font-size: 18px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1920px) {
  .nav-link {
    font-size: 24px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 2246px) {
  .nav-link {
    font-size: 31px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

.icon-menu{
  color: #05203D;
}

body {
  background-color: #fff;
  height: 200vh;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }

p {
  color: #b3b3b3;
  font-weight: 300; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.top-bar {
  padding: 12px 0;
  background: #eee; }
  .top-bar a {
    color: #666666; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 12px 24px; 
  -webkit-box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
  box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
}

  @media (max-width: 991.98px) {
    .site-navbar {
      padding-top: 36px;
      padding-bottom: 36px; } }
  .site-navbar .toggle-button {
    position: absolute;
    right: 0px; }
  .site-navbar .site-logo {
    position: absolute;
    font-size: 48px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3; }
    @media (max-width: 991.98px) {
      .site-navbar .site-logo {
        float: left;
        position: relative; } }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #05203D !important; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: #000 !important;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #05203D; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #05203D; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #ced4da; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #05203D; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .nav-link.active {
        color: #05203D; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar {
    background: #FAF7F2; }
    .sticky-wrapper .site-navbar .site-logo a {
      color: #fff; }
    .sticky-wrapper .site-navbar ul li a {
      color: rgba(255, 255, 255, 0.7) !important; }
      .sticky-wrapper .site-navbar ul li a.active {
        color: #fff !important; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #FAF7F2;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #05203D; }
    .sticky-wrapper.is-sticky .site-navbar ul li a {
      color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar ul li a.active {
        color: #05203D !important; }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    @media (max-width: 991.98px) {
      .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important; } }


/* HEADERS */

h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue';
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  h2 {
    font-size: 43px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  h3 {
    font-size: 41px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1439px) {
  h2 {
    font-size: 53px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  h3 {
    font-size: 48px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

@media (min-width: 1919px) {
  h2 {
    font-size: 72px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;text-size-adjust: none;
  }
  h3 {
    font-size: 55px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 2246px) {
  h2 {
    font-size: 96px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  h3 {
    font-size: 82px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

/* @media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1920px) {
} */


/* PARAGRAPHS */

.paragraph-1,
.paragraph-2,
.paragraph-3  {
  font-family: 'Proxima Nova';
  line-height: 1.3;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .paragraph-1 {
    font-size: 26px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-2 {
    font-size: 16px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-3 {
    font-size: 16px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1440px) {
  .paragraph-1 {
    font-size: 31px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-2 {
    font-size: 19px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-3 {
    font-size: 18px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1920px) {
  .paragraph-1 {
    font-size: 43px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-2 {
    font-size: 29px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-3 {
    font-size: 24px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

@media (min-width: 2246px) {
  .paragraph-1 {
    font-size: 55px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-2 {
    font-size: 36px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .paragraph-3 {
    font-size: 36px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

/* FOOTER */

#footer-sections .content-wrapper {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.green-rectangle {
  background-color: #8AEEEE;
  padding: 7%;
  font-size: calc(0vw + 43px)!important;
  -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .green-rectangle {
    font-size: calc(0vw + 29px)!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

.connect {
  display: grid;
  justify-items: start;
}
.logo img {
  width: 100%;
}
.anchor-links {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: end;
}


@media (max-width: 768px) {
  .anchor-links {
    margin-top: 0%;
  }
  .connect, .anchor-links {
    justify-content: left;
    text-align: left;
  }
  .info {
    grid-template-rows: 1fr;
  }
}

.connect-info {
  align-self: start;
}

.social {
  align-self: flex-end;
}

/* 
  ##Device = Desktops
*/
@media (min-width: 1281px) {
  .green-rectangle {
    width: 65vw;
  }
  .connect {
    gap: 5%;
    grid-template-columns: 20% 1fr;
  }
}

/* 
  ##Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .green-rectangle {
    width: 65vw;
  }
  .connect {
    gap: 5%;
    grid-template-columns: 20% 1fr;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .green-rectangle {
    width: 65vw;
  }
  .connect {
    gap: 5%;
    grid-template-columns: 22% 1fr;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .green-rectangle {
    width: 65vw;
  }
  .connect {
    grid-template-columns: 22% 1fr;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  .green-rectangle {
    width: 80vw;
    padding: 10%;
    font-size: calc(0vw + 29px)!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .connect {
    grid-template-columns: 1fr;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  .green-rectangle {
    width: 80vw;
    padding: 10%;
    font-size: calc(0vw + 29px)!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .connect {
    grid-template-columns: 1fr;
  }
}

/* WELCOME SCREEN */
.intro-text {
  font-size: 41px;
  line-height: normal;
  -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.section-welcome .right-part :not(:last-child) {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .section-welcome{ 
    padding-bottom: 24px;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
  .section-welcome{ 
    padding-bottom: 0px;
  }
  .intro-text {
    font-size: 34px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .h-bg-image {
    width: 65%;
  }
}
@media (min-width: 1440px) {
  .intro-text {
    font-size: 38px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .h-bg-image {
    width: 75%;
  }
  .anchor-links, .connect-info, .social {}
}
@media (min-width: 1920px) {
  .intro-text {
    font-size: 53px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .h-bg-image {
    width: 65%;
  }
  .anchor-links, .connect-info, .social {
    font-size: 24px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

@media (min-width: 2246px) {
  .intro-text {
    font-size: 77px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .h-bg-image {
    width: 65%;
  }
  .anchor-links, .connect-info, .social {
    font-size: 34px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

/* SECTION LETTERING */
.section-school-name .lettering {
  width: 100%;
}

/* TIMELINE */
.timeline {
  position: relative!important;
  width: 100%!important;
  max-width: 1140px!important;
  margin: 0 auto!important;
  padding: 15px 0!important;
}

.timeline::after {
  content: ''!important;
  position: absolute!important;
  width: 2px!important;
  background: #8AEEEE!important;
  top: 0!important;
  bottom: 0!important;
  margin-left: -1px!important;
}

.timeline-container {
  padding: 15px 0px 21px 30px!important;
  position: relative!important;
  background: inherit!important;
  width: 100%!important;
}
.timeline-container::after {
  content: ''!important;
  position: absolute!important;
  width: 16px!important;
  height: 16px!important;
  top: calc(50% - 8px)!important;
  right: -8px!important;
  background: #8AEEEE!important;
  border: 2px solid #8AEEEE!important;
  border-radius: 16px!important;
  z-index: 1!important;
}

.timeline-container.right::after {
  left: -8px!important;
}

.timeline-container.right::before {
  left: 8px!important;
}

.timeline-container .date {
  font-family: 'Bebas Neue';
  position: absolute!important;
  display: inline-block!important;
  text-align: center!important;
  font-weight: normal!important;
  color: #8AEEEE!important;
  z-index: 1!important;
}

@media (max-width: 992px) {
  .date {
    font-size: 43px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    top: calc(50% - 34px)!important;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .date {
    font-size: 43px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    top: calc(50% - 34px)!important;
  }
  .timeline-container {
    padding: 15px 0px 21px 30px!important;
  }
}
@media (min-width: 1440px) {
  .date {
    font-size: 43px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    top: calc(50% - 29px)!important;
  }
  .timeline-container {
    padding: 15px 0px 21px 30px!important;
  }
}
@media (min-width: 1920px) {
  .date {
    font-size: 72px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .timeline-container {
    padding: 15px 0px 27px 30px!important;
  }
}

@media (min-width: 2246px) {
  .date {
    font-size: 84px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    top: calc(50% - 60px)!important;
  }
  .timeline-container {
    padding: 31px 0px 50px 30px!important;
  }
}


.timeline-container.right .date {
  left: -60px!important;
}


.timeline-container .content p {
  margin: 0!important;
  color: #000000!important;
}


.timeline-container.right .content {
  padding: 0px!important;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 0px!important;
  }

  .timeline-container {
    width: 100%!important;
    padding-left: 120px!important;
    padding-right: 30px!important;
  }

  .timeline-container.right {
    left: 0%!important;
  }

  .timeline-container.right::before {
    left: 100px!important;
    border-color: transparent #8AEEEE transparent transparent!important;
  }
}


@media (min-width: 768px) and (orientation: landscape) {

  .timeline-container.right .content {
    padding: 0px 30px 0px 30px!important;
    border-radius: 500px 0 0 500px!important;
  }

  .timeline-container.right .date {
    right: auto!important;
    left: -60px!important;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {

  .timeline-container.right::after {
    left: -8px!important;
  }

  .timeline-container.right .content {
    padding: 0px!important;
  }
  .timeline-container.right .date {
    left: -40px!important
  }
  .timeline-container {
    padding-left: 30px!important;
    padding-right: 55px!important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  .timeline {
    margin: 0 4vw!important
  }
  .timeline-container.right::after {
    left: -8px!important;
  }
  .timeline-container.right .content {
    padding: 0px!important;
  }
  .timeline-container.right .date {
    left: -40px!important;
  }
  .timeline-container {
    padding-left: 30px!important;
    padding-right: 55px!important;
  }
}


/* LECTURERS / INSTRUCTORS */
.owl-item {
  background: #FFFFFF;
  padding: 48px;
}

.section-instructors h3 {
  color: #8AEEEE!important;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  background-color: none;
	position: absolute;
	top: -168px;
	height: 30px;
	margin: auto !important;
}

.owl-carousel .owl-prev {
	right: 168px;
}

.owl-carousel .owl-next {
	right: 72px;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .section-instructors h3 {
    font-size: 48px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1200px) {
  .section-instructors h3 {
    font-size: 24px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    top: -151px;
  }

  .am-prev img,
  .am-next img {
    height: 53px;
  }

  .owl-carousel .owl-prev {
    right: 204px;
  }

  .owl-carousel .owl-next {
    right: 144px;
  }
}
@media (min-width: 1440px) {
  .section-instructors h3 {
    font-size: 34px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    top: -156px;
  }

  .am-prev img,
  .am-next img {
    height: 58px;
  }

  .owl-carousel .owl-prev {
    right: 228px;
  }

  .owl-carousel .owl-next {
    right: 156px;
  }
}
@media (min-width: 1920px) {
  .section-instructors h3 {
    font-size: 48px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    top: -180px;
  }

  .am-prev img,
  .am-next img {
    height: 77px;
  }

  .owl-carousel .owl-prev {
    right: 312px;
  }

  .owl-carousel .owl-next {
    right: 216px;
  }
}

@media (min-width: 2246px) {
  .section-instructors h3 {
    font-size: 62px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  .owl-carousel .owl-prev,
  .owl-carousel .owl-next {
    top: -192px;
  }

  .am-prev img,
  .am-next img {
    height: 96px;
  }

  .owl-carousel .owl-prev {
    right: 408px;
  }

  .owl-carousel .owl-next {
    right: 288px;
  }
  .owl-item {
    padding: 72px;
  }
}

.section-instructors .education {
  font-weight: bold;
}

.section-instructors .description p {
  color: #05203D;
  line-height: 1.3;
}

.section-instructors .title {
  margin: 0!important;
}

.owl-nav button,
.owl-nav button > button,
.am-prev img,
.am-next img,
.am-prev,
.am-next {
  background-color: #FFFFFF00!important;
  padding: 0;
  border: none!important;
  outline: none;
}

.owl-nav {
  border: none!important;
}
.owl-dots {
  display: none;
}

/* PRICES */
.package-div{
  background-color: white;
  background-clip: content-box;
}

.package-card {
  background-color: white;
  padding: 48px;
}

@media (min-width: 2246px) {
  .package-card {
    padding: 72px;
  }
}

.package-card p {
  color:#05203D;
}

.price-old {
  color: #05203D!important;
  text-decoration: line-through;
  font-size: calc(2.3vw) !important;
}
@media (min-width: 320px) and (max-width: 767px) {
  .price-old {
    font-size: calc(4.3vw) !important;
  }
  .price-new {
    font-size: calc(6.3vw)!important;
  }
}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  
}
@media (min-width: 1440px) {
  .price-new {
    font-size: 48px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1920px) {
  .price-new {
    font-size: 67px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 2246px) {
  .price-new {
    font-size: 86px!important;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

.price-new {
  color: #8AEEEE!important
}
.silver {
  color: #C4C4CE!important;
}
.gold {
  color: #ECC335!important;
}
.platinum {
  color: #4A4645!important;
}

.price-new, .price-old {
  font-family: "Bebas Neue";
}

.package-img {
  width: 30%;
}

.package-card p {
  margin-bottom: 0;
}

.u-get-ul {
  padding-left: 26px;
}

.packages .d-table-cell {
  background-clip: content-box!important;
  background: white;
}

.packages-footer {

}

/* ANIMATIONS */
.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

.animate__animated {
  opacity: 0;

}

.animate__fadeInUp {
  opacity: 1;
}

/* JOIN US */

.section-join-us .illustration {
  width: 100%;
}

.application-form {
  background-color: white;
  padding: 96px 48px;
}

@media (min-width: 1200px) {
  .application-form {
    padding: 96px 142px;
  }
}

@media (min-width: 2246px) {
  .application-form {
    padding: 144px 245px;
  }
}

input[type=text] {
  color: #8AEEEE;
  border: 0;
  border-bottom: 1px solid #05203D;
  border-radius: 0;
  padding: 0;
  outline: none;
}

input[type=submit] {
  border: 0;
  border-radius: 0;
  outline: none;
}

input[type=submit]:focus {
  border-color: #8AEEEE;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text]::placeholder {
  color: #8AEEEE;
}

.form-control:focus {
  border-color: #05203D;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  input[type=text]  {
    font-size: 16px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1440px) {
  input[type=text]  {
    font-size: 19px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}
@media (min-width: 1920px) {
  input[type=text]  {
    font-size: 29px;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

/* COUNTING */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted {
  padding: 5px 12px;
  background: #8aeeee !important;
  font-style: normal;
  text-transform: none;
  width: fit-content;
  margin-bottom: 0px;
}

.packages-footer {
  justify-content: center;
}

.packages-footer div {
  white-space: nowrap;
  justify-content: center;
  text-align: center;
  text-align: -webkit-center;
}